.list {
  width: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardContainer {
  margin-bottom: 16px;
  width: 312px;
  background-color: rgb(255 255 255);
  color: rgb(26 26 27);
  fill: rgb(26 26 27);
  border: 1px solid rgb(204 204 204);
  border-radius: 4px;
  overflow: visible;
  word-wrap: break-word;
}

.title {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 12px;
  text-transform: uppercase;
  background-color: rgb(255 255 255);
  border-radius: 3px 3px 0 0;
  color: rgb(26 26 27);
  display: flex;
  fill: rgb(26 26 27);
  padding: 0 12px 12px;
}

.titleText {
  padding: 12px 0 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}

.communityListContainer {
  padding: 12px;
}

.commmunityContainer {
  display: flex;
  padding: 12px 0 4px;
  align-items: center;
}

.communityIconContainer {
  flex: 0 0;
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

.communityIcon {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.communityInforContainer {
  flex: 1 1 100%;
  width: 100%;
  position: relative;
}

.communityInforContainer > a {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 144px;
  color: inherit;
  text-decoration: inherit;
}

.communityInforContainer p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.joinButtonContainer {
  flex: 1 1 100%;
}

.joinButton {
  width: 100%;
  
  position: relative;
  background-color: rgb(0 121 211);
  border: none;
  color: rgb(255 255 255);
  fill: rgb(255 255 255);
  
  font-family: "Noto Sans",Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

.joinButton:hover {
  cursor: pointer;
  opacity: .9;
}

.userCardContainer {
  border: 1px solid rgb(204 204 204);
  border-radius: 5px 5px 4px 4px;
  overflow: visible;
  word-wrap: break-word;
  background-color: rgb(255 255 255);
  padding: 12px;
  position: relative;
}

.userBGImage {
  background-color: rgb(51 168 255);
  border-radius: 4px 4px 0 0;
  height: 94px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.userAvatarLayer {
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  height: 86px;
  margin-left: -3px;
  margin-top: 16px;
  padding: 3px;
  position: relative;
  width: 86px;
}

.userAvatarContainer {
  height: 100%;
  position: relative;
  width: 100%;
}

.userAvatar {
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
  background: #d7dfe2;
  fill: #fff;
  box-sizing: border-box;
  border: 1px solid rgb(237 239 241);
  height: 100%;
  width: 100%;
}

.userLink {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(34 34 34);
  margin-top: 4px;
  text-decoration: inherit;
}

.themeButtonContainer {
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.themeButton {
  width: 100%;

  position: relative;
  background-color: rgb(0 121 211);
  border: none;
  color: rgb(255 255 255);
  fill: rgb(255 255 255);
  
  font-family: "Noto Sans",Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;

  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  display: flex;
  text-decoration: inherit;
}

.themeButton:hover {
  opacity: 0.8;
}

.communityDesc {
  font-family: "Noto Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.communityStatistics {
  display: flex;
  margin-bottom: 8px;
}

.totalMember {
  padding-right: 4px;
  flex: auto;
}

.statisticsNumber {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.statisticsText {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  word-break: break-word;
}

.onlineMembers {
  padding-left: 16px;
  padding-right: 4px;
  flex: auto;
}

.statisticsPad {
  flex: auto;
}

.separator {
  background-color: rgb(237 239 241);
  border: none;
  height: 1px;
  margin: 16px 0;
}

.createdDate {
  font-family: "Noto Sans",Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-flow: row nowrap;
}

.createdIcon {
  cursor: default;
  height: 16px;
  margin-right: 8px;
  width: 16px;
}