.link {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}

.svg1 {
  height: 32px;
  width: 32px;
  padding: 8px 8px 8px 0;
}

.svg2 {
  height: 18px;
  width: auto;
  display: none;
  margin-right: 20px;
}

@media (min-width: 1070px) {
  .svg2 {
    display: block;
  }
}