.nav-wrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 0;
}

.nav-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.buttons {
  display: none;
  align-items: center;
  flex-direction: row;
}

@media (min-width: 616px) {
  .buttons {
    display: flex;
  }
}

.button {
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  width: auto;
}

.button-login {
  position: relative;
  border: 1px solid #0079d3;
  color: #0079d3;
  fill: #0079d3;

  text-decoration: inherit;
}

.button-signup {
  position: relative;
  background-color: #0079d3;
  border: none;
  color: #FFFFFF;
  fill: #FFFFFF;

  margin-left: 4px;
  text-decoration: inherit;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2px 0;
  min-height: 32px;

  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
  
  margin-left: 8px;
  
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.person-icon-wrapper {
  align-items: center;
  display: flex;
  text-align: left;
  margin-left: 0;
  width: inherit;
  color: inherit;
  cursor: pointer;
}

.person-icon {
  color: rgb(135 138 140);
  fill: rgb(135 138 140);
  border-radius: 4px;
  float: left;
  max-height: 24px;
  max-width: 24px;
  height: 24px;
  width: 24px;
  overflow: hidden;
  text-align: left;
}

.dropdown-icon {
  fill: rgb(135 138 140);
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 20px;
  overflow: hidden;
}

.detail {
  position: absolute!important;
  clip: rect(1px 1px 1px 1px);
}

.header-user-dropdown {
  position: relative;
}

.dropMenu {
  border-radius: 0 0 4px 4px;
  border: 1px solid rgb(237 239 241);
  border-top: none;
  box-shadow: none;
  margin-top: -2px;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 6px;
  position: fixed;
  width: 213px;
  z-index: 80;

  color: rgb(28 28 28);
  background-color: rgb(255 255 255);

  position: fixed;
  right: 0px;
}

.option {
  box-sizing: border-box;
  color: rgb(28 28 28);
  cursor: pointer;
  display: block;
  fill: rgb(135 138 140);
  padding: 10px 16px 10px 48px;
  position: relative;
}

.option:hover {
  background-color: rgb(0 121 211);
  color: rgb(255 255 255);
  fill: rgb(255 255 255);
  outline: none;
}

.optionSVG {
  height: 20px;
  left: 16px;
  position: absolute;
  top: 10px;
  width: 20px;
}

.optionText {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
}