@font-face {
  font-family: "redesignFont";
  font-style: italic;
  font-weight: 400;
  src: url("https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.7691aa8e3c12c3fee84c0d62fd4d193d.woff") format('woff');
}

body {
  margin: 0;
  font-family: IBMPlexSans, 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}