.menubar {
  width: 100%;
  height: 3em;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
}
/* 
.Y4MkVr6trrdypfZVUkpIA, ._2vkeRJojnV7cb9pMlPHy7d {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--newCommunityTheme-body);
  border-bottom: 1px solid var(--newCommunityTheme-line);
  box-sizing: border-box;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 20px;
} */